@model Project
@{
    ViewData["Title"] = "Project Details";
}
<link href="~/css/masthead.css" rel="stylesheet" />
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
</header>

<h1>Project Details</h1>

<ul>
    <li>@Model.Title</li>
    <li>@Model.Description</li>
    <li>@Model.ProjectManager</li>
    <li>@Model.CreatedOn</li>
    <li>@Model.UpdatedOn</li>

</ul>

