@model SDGProjectViewModel
@{
    ViewData["Title"] = @Model.sdg.Name;
}
<header class="masthead" style="background-size: cover; background: no-repeat 20% 70%; background-size: cover; background-image: url('@Url.Content("~/pics/" + @ViewBag.id +".png")'); ">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>@Model.sdg.Name</h1>
                    <h2 class="subheading">@Model.sdg.Description</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">Knust-Uits</a>
                        on August 24, 2021
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Single line list with Badge-->

<div class="container">
    <h3>List of project under the SDG</h3>
    <ul class="list-group pmd-list pmd-card-list">

        @foreach (var item in Model.project)
        {

            <li class="list-group-item d-flex align-items-center m-1">
                <a asp-action="ProjectDetails" asp-controller="Project" asp-route-id="@item.ProjectId">
                    <div class="media-body">
                        @item.Title
                    </div>
                    @*<i class="fa fa-bars"></i>*@
                </a>

            </li>


        }


    </ul>
</div>